.fondo1 {
    background: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Elegant_Background-6.jpg") #000;
    background-repeat: no-repeat;
}

div {
    margin-top: 250px;
}

form {
    background: #ffffff;
    border-radius: 10px;
}

.center-content{
    text-align: center;
}

.space{
    padding: 3px;
}